/* Dark theme styling */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.app-container {
  min-height: 100vh;
  padding-bottom: 60px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #1e1e1e;
  padding: 10px 0;
}

.nav-item {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.workout-form-container,
.workouts-container,
.exercise-box,
.set-box {
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.workout-item {
  background-color: #333;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #c0392b;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #e74c3c;
}

.add-button {
  background-color: #16a085;
  padding: 10px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
}

.add-button:hover {
  background-color: #1abc9c;
}

.workout-link {
  text-decoration: none;
  color: #fff;
}
